__pycache__
**/tokenizer/tokenizer.json
*.bin
*.ckpt
*.gguf
*.onnx
*.pth
*.safetensors
*.sft
.DS_Store
.vscode
/cache
/config.json
/config_states/
/embeddings
/extensions
/models/**/*
/output
/outputs
/params.txt
/repositories
/styles.csv
/styles.csv.bak
/sysinfo*.json
/tmp
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.sh
notification.mp3
